@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    transition: all 0.3s;
}

body {
    background: #313131;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 120%;
}

.title {
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 5px var(--tt), 0 0 15px var(--tt), 0 0 30px var(--tt), 0 0 50px var(--tt);
}

.contenedor {
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado {
    color: #ffffff;
    position: relative;
    border: 2px solid #ffffff;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px var(--qt), 0 0 10px var(--qt);
}

.categoria {
    opacity: 0.3;
    text-align: left;
    color: #ffffff;
}

.pregunta {
    padding: 10px;
}

.btn {
    color: #888888;
    background: transparent;
    /* border: 3px solid var(--bd); */
    border: 2px solid #222222;
    border-radius: 10px;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    transform: scale(1.05);
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 10px var(--bd), 0 0 15px var(--bd);
}

.numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 12px;
    color: #ffffff;
}
  
.puntaje{
    padding:10px;
    color:white;
}